{% extends "cinema/base.html" %}
{% block content %}
<p>Search for movies by Title or Category:</p>

<br/>
<form action="{% url 'cinema-browse' %}" method="GET" value="{{request.GET.q}}">
Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search Movies by Title Or Category..."/>
<input type="submit" name="submit" value="Search"/>
</form>


{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
<h1>Results for <b>{{ request.GET.q }}</b></h1>
<br/><br/>

{% for result in results %}

<h5> {{result.title}} </h5>

<img class="poster" src="{{ result.poster }}">
<h5> {{ result.rating }} </h5>
<a href="movie/{{ result.movie_id }}">View Details</a>

{% endfor %}
{% else %}
No results found
{% endif %}
{% endif %}

{% endblock content %}