{% extends "cinema/base.html" %}
{% block content %}

{% if user.is_authenticated %}
<div style="text-align:center; padding: 0 7em 2em 0;">
	<h2>
		Movies Currently Playing:
	</h2>
	</br>
	{% for movie in allmovies %}
		{% if movie.currentlyPlaying %}
		<div style="border-style: double;">
		<h5> {{ movie.title }} </h5>
		<img class="poster" src="{{ movie.poster }}">
		<h5> {{ movie.rating }} </h5>
		<a href="browse/movie/{{ movie.movie_id }}">View Details</a>
		</div>
		</br>
		{% endif %}
	{% endfor %}

	<h2>
		Movies Coming Soon:
	</h2>
	</br>
	{% for movie in allmovies %}
		{% if movie.currentlyPlaying == False %}
		<div style="border-style: double;">
		<h5> {{ movie.title }} </h5>
		<img class="poster" src="{{ movie.poster }}">
		<h5> {{ movie.rating }} </h5>
		<a href="browse/movie/{{ movie.movie_id }}">View Details</a>
		</div>
		</br>
		{% endif %}
	{% endfor %}

</div>


{% else %}
	<h2>
		Welcome!
	</h2>
	<h5>Please sign in to browse movies.</h5>
{% endif %}

{% endblock content %}
