{% extends "cinema/base.html" %}
{% load static %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'checkout/checkout.css' %}">

    <div class="content-section">

        <h1>Cart</h1>

        {% if cart|length > 0 %}

            {% for ticket in cart %}
                <div class="ticket">
                    <h2>{{ ticket.name }}</h2>
                    <p><b>Type:</b> {{ ticket.type }}</p>
                    <p><b>Seat:</b> Row {{ ticket.seat.0 }}, Column {{ ticket.seat.1 }}</p>
                    <p><b>Price:</b> ${{ ticket.price }}</p>
                    <p><b>Time:</b> {{ ticket.time }}</p>
                </div>
            {% endfor %}

            <a href="{% url 'checkout-info' %}">Checkout</a>

            {% else %}

            <h3>Empty</h3>

        {% endif %}

    </div>

{% endblock content %}